!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title= "#{@title} | What the fl*g?"
    %link(rel="stylesheet" href="/stylesheets/screen.css")
  %body(class="#{@body_class}")
    #container
      %header#header
        %h1
          %a(href="/" title="Home")
            = image_tag("/images/header/logo.png", alt: "What the fl*ag?", width: 181, height: 18)
        = render "/shared/navigation"
      
      #main
        %article
          %header
            %h2
              %strong 19
              March 2012
              %span.today Today
            
          = yield
        
          %footer
            %nav
              %div
              %ul
                %li.prev
                  %a(href="#" title="Previous day" rel="prev")
                    %strong 18
                    March 2012
                %li.next
                  %a(href="#" title="Next day" rel="next")
                    %strong 20
                    March 2012